<!DOCTYPE HTML PUBLIC>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Haguluma blog</title>
		<link href="/css/init.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
		<!--<script src="/js/jquery-3.1.1.min.js"></script>オフラインの時に-->
				<script src="/js/index.js"></script>
	</head>
	<body>
		<!--<header></header>-->
		<h1>Hello world</h1>
		<!--<footer></footer>-->
	</body>
</html>
