.global_wrap{
		border:#000000 3px solid;
}
nav {
		height: 50px;
		width:100%;
		border:inherit;
}
header{
		height: 50px;
		width:100%;
		border:inherit;
}
#contents_wrap{
		padding :5px 5px;
		border:inherit;
		}
#contents_wrap:after{
		content :"";
		display :block;
		clear :both;
		}
#main_contents{
		/*height:500px;*/
		width:70%;
		float: left;
		border:inherit;
}
#sub_contents{
		/*height:500px;*/
		width:30%;
		float:left;
		border:inherit;
}
footer{
		height:50px;
		width:100%;
		border:inherit;
}
ul{
		padding:0;
		margin:0;
}
ul li{
		float:left;
		width:33.33%;
		/*height:100%;高さは指定しなくとも親要素と同じになる*/
		list-style: none;
		border:#000000 solid 1px;
		box-sizing:border-box;
		text-align:center;
}
li a{
		line-height:50px;
		display: block;
}
ul:after{
		content : "";
   		display : block;
     	clear : both;
}
/*ページ切り替え*/
.page {
	width : 100%;
	display : none;
}

.Looking {
	display : block;
}

#page1 {
	height : 100px;
	background-color : #ffccff;
}
#page2 {
	height : 200px;
	background-color : yellow;
}
#page3 {
	height : 300px;
	background-color : orange;
}
