body {
	margin : 0;
	padding : 0;
	background-color:#efefef;
}

nav {
		height: 50px;
		width:100%;
		/*border:inherit;*/
}
header{
		box-sizing : border-box;
		position : relative;
		height: 120px;
		width:100%;
		/*border:1px solid;*/
		background-color:white;
		margin-bottom:15px;
	    box-shadow: 0px 2px 3px rgba(0,0,0,0.12);
}

footer{
		box-sizing : border-box;
		height:25px;
		width:100%;
		border:1px solid;
}


div {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
	padding : 0;
	margin : 0;
}

p {
	margin : 0;
	padding : 0;
}
button{
	box-sizing : border-box;
	background-color: #dddddd;
    border: #888888 1px solid;
    border-radius:5px;
    cursor: pointer;
    outline: none;
    padding: 5px;
    appearance: none;
    font-size: 14px;
    font-weight : bolder;
}

button:hover {
	background-color : grey;
}/*12/13*/


/*
button {
	padding : 0;
	margin : 0;
}
small {
	font-size : 10px;
}

#content {
	position : relative;
	height : 90%;
}

#title {
	padding : 0;
	margin : 0;
}
*/

/*テキスト*/

