body {
	margin : 0;
}

div {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
	padding : 0;
	margin : 0;
}

/*
button {
	padding : 0;
	margin : 0;
}
small {
	font-size : 10px;
}

#content {
	position : relative;
	height : 90%;
}

#title {
	padding : 0;
	margin : 0;
}
*/

/*テキスト*/
p {
	margin : 0;
	padding : 0;
}
button{
	box-sizing : border-box;
	background-color: #dddddd;
    border: #888888 1px solid;
    border-radius:5px;
    cursor: pointer;
    outline: none;
    padding: 5px;
    appearance: none;
    font-size: 14px;
    font-weight : bolder;
}

.clear_fix:after {
	content :"";
	display :block;
	clear :both;
}

